{% extends 'Base.html' %}
{% block content %}


<body>

<h1 class="welcome">Welcome Jan</h1> 

<h1 class="message">Try to go to sleep a little earlier today, you could use it</h1>

<div class="row">

      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h5 class="card-category">Health</h5>
                <h2 class="card-title">Sleep Pattern</h2>
              </div>
              
            </div>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartBig1"></canvas>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Health</h5>
            <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> Heart Rate</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartLinePurple"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Environment</h5>
            <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i> Weather</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="CountryChart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Environment</h5>
            <h3 class="card-title"><i class="tim-icons icon-send text-success"></i> Distance</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartLineGreen"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

</body>
{% endblock content%}
